# Iris Flower - Batch Prediction


In this notebook we will, 

1. Load the batch inference data that arrived in the last 24 hours
2. Predict the first Iris Flower found in the batch
3. Write the ouput png of the Iris flower predicted, to be displayed in Github Pages.

In [1]:
import pandas as pd
import hopsworks
import joblib

project = hopsworks.login()
fs = project.get_feature_store()

Connected. Call `.close()` to terminate connection gracefully.

Logged in to project, explore it here https://c.app.hopsworks.ai:443/p/398
Connected. Call `.close()` to terminate connection gracefully.

DeprecationWarning: the imp module is deprecated in favour of importlib; see the module's documentation for alternative uses

In [2]:
mr = project.get_model_registry()
model = mr.get_model("iris", version=1)
model_dir = model.download()
model = joblib.load(model_dir + "/iris_model.pkl")

Connected. Call `.close()` to terminate connection gracefully.
Downloading file ...

UserWarning: Trying to unpickle estimator KNeighborsClassifier from version 1.1.1 when using version 1.1.2. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/model_persistence.html#security-maintainability-limitations

We are downloading the 'raw' iris data. We explicitly do not want transformed data, reading for training. 

So, let's download the iris dataset, and preview some rows. 

Note, that it is 'tabular data'. There are 5 columns: 4 of them are "features", and the "variety" column is the **target** (what we are trying to predict using the 4 feature values in the target's row).

In [3]:
feature_view = fs.get_feature_view(name="iris", version=1)

Now we will do some **Batch Inference**. 

We will read all the input features that have arrived in the last 24 hours, and score them.

In [4]:
import datetime
from PIL import Image

batch_data = feature_view.get_batch_data()

y_pred = model.predict(batch_data)

y_pred

VersionWarning: No training dataset version was provided to initialise batch scoring . Defaulting to version 1.

2022-09-14 05:56:59,724 INFO: USE `dowlingj_featurestore`
2022-09-14 05:57:00,530 INFO: SELECT `fg0`.`sepal_length` `sepal_length`, `fg0`.`sepal_width` `sepal_width`, `fg0`.`petal_length` `petal_length`, `fg0`.`petal_width` `petal_width`
FROM `dowlingj_featurestore`.`iris_1` `fg0`

UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy

array(['Versicolor', 'Setosa', 'Virginica', 'Versicolor', 'Virginica',
       'Setosa', 'Virginica', 'Virginica', 'Versicolor', 'Versicolor',
       'Virginica', 'Virginica', 'Virginica', 'Virginica', 'Virginica',
       'Virginica', 'Versicolor', 'Setosa', 'Versicolor', 'Versicolor',
       'Versicolor', 'Versicolor', 'Versicolor', 'Setosa', 'Virginica',
       'Setosa', 'Setosa', 'Versicolor', 'Setosa', 'Setosa', 'Versicolor',
       'Versicolor', 'Virginica', 'Virginica', 'Setosa', 'Setosa',
       'Virginica', 'Setosa', 'Versicolor', 'Setosa', 'Virginica',
       'Versicolor', 'Versicolor', 'Setosa', 'Versicolor', 'Versicolor',
       'Virginica', 'Versicolor', 'Versicolor', 'Versicolor',
       'Versicolor', 'Virginica', 'Versicolor', 'Virginica', 'Versicolor',
       'Setosa', 'Versicolor', 'Virginica', 'Setosa', 'Setosa', 'Setosa',
       'Virginica', 'Setosa', 'Setosa', 'Versicolor', 'Versicolor',
       'Virginica', 'Versicolor', 'Versicolor', 'Virginica', 'Versicolor',
       'Versicolor', 'Setosa', 'Virginica', 'Virginica', 'Virginica',
       'Versicolor', 'Virginica', 'Virginica', 'Virginica', 'Versicolor',
       'Virginica', 'Versicolor', 'Virginica', 'Virginica', 'Setosa',
       'Versicolor', 'Virginica', 'Versicolor', 'Setosa', 'Versicolor',
       'Versicolor', 'Virginica', 'Setosa', 'Setosa', 'Setosa',
       'Versicolor', 'Virginica', 'Setosa', 'Virginica', 'Setosa',
       'Setosa', 'Versicolor', 'Virginica', 'Setosa', 'Versicolor',
       'Setosa', 'Setosa', 'Setosa', 'Virginica', 'Setosa', 'Virginica',
       'Setosa', 'Setosa', 'Setosa', 'Setosa', 'Setosa', 'Setosa',
       'Versicolor', 'Setosa', 'Setosa', 'Setosa', 'Versicolor',
       'Virginica', 'Versicolor', 'Setosa', 'Virginica', 'Setosa',
       'Versicolor', 'Setosa', 'Setosa', 'Virginica', 'Virginica',
       'Setosa', 'Versicolor', 'Setosa', 'Versicolor', 'Virginica',
       'Virginica', 'Versicolor', 'Versicolor', 'Virginica', 'Versicolor',
       'Virginica', 'Versicolor', 'Versicolor', 'Setosa', 'Versicolor',
       'Setosa', 'Versicolor', 'Versicolor', 'Setosa', 'Virginica',
       'Versicolor'], dtype=object)

In [5]:
batch_data

     sepal_length  sepal_width  petal_length  petal_width
0        7.335088     3.547577      4.567607     1.693289
1        4.900000     3.600000      1.400000     0.100000
2        5.700000     2.500000      5.000000     2.000000
3        5.700000     3.000000      4.200000     1.200000
4        6.700000     3.300000      5.700000     2.100000
..            ...          ...           ...          ...
149      6.300000     3.300000      4.700000     1.600000
150      6.765720     3.136880      5.054364     1.588958
151      5.248077     3.524002      1.230167     0.503731
152      5.560206     3.293820      5.825793     1.598256
153      5.025268     2.176264      4.495605     1.260169

[154 rows x 4 columns]

In [6]:
y_pred = model.predict(batch_data)
y_pred

array(['Versicolor', 'Setosa', 'Virginica', 'Versicolor', 'Virginica',
       'Setosa', 'Virginica', 'Virginica', 'Versicolor', 'Versicolor',
       'Virginica', 'Virginica', 'Virginica', 'Virginica', 'Virginica',
       'Virginica', 'Versicolor', 'Setosa', 'Versicolor', 'Versicolor',
       'Versicolor', 'Versicolor', 'Versicolor', 'Setosa', 'Virginica',
       'Setosa', 'Setosa', 'Versicolor', 'Setosa', 'Setosa', 'Versicolor',
       'Versicolor', 'Virginica', 'Virginica', 'Setosa', 'Setosa',
       'Virginica', 'Setosa', 'Versicolor', 'Setosa', 'Virginica',
       'Versicolor', 'Versicolor', 'Setosa', 'Versicolor', 'Versicolor',
       'Virginica', 'Versicolor', 'Versicolor', 'Versicolor',
       'Versicolor', 'Virginica', 'Versicolor', 'Virginica', 'Versicolor',
       'Setosa', 'Versicolor', 'Virginica', 'Setosa', 'Setosa', 'Setosa',
       'Virginica', 'Setosa', 'Setosa', 'Versicolor', 'Versicolor',
       'Virginica', 'Versicolor', 'Versicolor', 'Virginica', 'Versicolor',
       'Versicolor', 'Setosa', 'Virginica', 'Virginica', 'Virginica',
       'Versicolor', 'Virginica', 'Virginica', 'Virginica', 'Versicolor',
       'Virginica', 'Versicolor', 'Virginica', 'Virginica', 'Setosa',
       'Versicolor', 'Virginica', 'Versicolor', 'Setosa', 'Versicolor',
       'Versicolor', 'Virginica', 'Setosa', 'Setosa', 'Setosa',
       'Versicolor', 'Virginica', 'Setosa', 'Virginica', 'Setosa',
       'Setosa', 'Versicolor', 'Virginica', 'Setosa', 'Versicolor',
       'Setosa', 'Setosa', 'Setosa', 'Virginica', 'Setosa', 'Virginica',
       'Setosa', 'Setosa', 'Setosa', 'Setosa', 'Setosa', 'Setosa',
       'Versicolor', 'Setosa', 'Setosa', 'Setosa', 'Versicolor',
       'Virginica', 'Versicolor', 'Setosa', 'Virginica', 'Setosa',
       'Versicolor', 'Setosa', 'Setosa', 'Virginica', 'Virginica',
       'Setosa', 'Versicolor', 'Setosa', 'Versicolor', 'Virginica',
       'Virginica', 'Versicolor', 'Versicolor', 'Virginica', 'Versicolor',
       'Virginica', 'Versicolor', 'Versicolor', 'Setosa', 'Versicolor',
       'Setosa', 'Versicolor', 'Versicolor', 'Setosa', 'Virginica',
       'Versicolor'], dtype=object)

Batch prediction output is the last entry in the batch - it is output as a file 'latest_iris.png'

In [7]:
flower = y_pred[y_pred.size-1] + ".png"

img = Image.open(flower)            

img.save("latest_iris.png")

In [8]:
iris_fg = fs.get_feature_group(name="iris", version=1)
df = iris_fg.read()
df

2022-09-14 05:57:02,783 INFO: USE `dowlingj_featurestore`
2022-09-14 05:57:03,577 INFO: SELECT `fg0`.`sepal_length` `sepal_length`, `fg0`.`sepal_width` `sepal_width`, `fg0`.`petal_length` `petal_length`, `fg0`.`petal_width` `petal_width`, `fg0`.`variety` `variety`
FROM `dowlingj_featurestore`.`iris_1` `fg0`

UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy

     sepal_length  sepal_width  petal_length  petal_width     variety
0        7.335088     3.547577      4.567607     1.693289   Virginica
1        4.900000     3.600000      1.400000     0.100000      Setosa
2        5.700000     2.500000      5.000000     2.000000   Virginica
3        5.700000     3.000000      4.200000     1.200000  Versicolor
4        6.700000     3.300000      5.700000     2.100000   Virginica
..            ...          ...           ...          ...         ...
149      6.300000     3.300000      4.700000     1.600000  Versicolor
150      6.765720     3.136880      5.054364     1.588958   Virginica
151      5.248077     3.524002      1.230167     0.503731      Setosa
152      5.560206     3.293820      5.825793     1.598256   Virginica
153      5.025268     2.176264      4.495605     1.260169  Versicolor

[154 rows x 5 columns]

In [9]:
label = df.iloc[-1]["variety"]
label

'Versicolor'

In [10]:
label_flower = label + ".png"

img = Image.open(label_flower)            

img.save("actual_iris.png")

In [11]:
from datetime import datetime

with open('iris-prediction-time.txt', 'w') as f:
    f.write(datetime.now().strftime("%m/%d/%Y, %H:%M:%S"))