In [33]:
import pandas as pd

data = { 
    'credit_card_number': ['1111 2222 3333 4444', '1111 2222 3333 4444','1111 2222 3333 4444'],
    'trans_datetime': ['2022-01-01 08:44', '2022-01-01 19:44', '2022-01-01 20:44'],
    'amount': [142.34, 12.34, 66.29],
    'location': ['Sao Paolo', 'Rio De Janeiro', 'Stockholm'],
    'fraud': [False, False, False] 
}

df = pd.DataFrame.from_dict(data)

In [30]:
df

    credit_card_number          datetime  amount        location  fraud
0  1111 2222 3333 4444  2022-01-01 08:44  142.34       Sao Paolo  False
1  1111 2222 3333 4444  2022-01-01 19:44   12.34  Rio De Janeiro  False
2  1111 2222 3333 4444  2022-01-01 20:44   66.29       Stockholm  False

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   credit_card_number  3 non-null      object
 1   trans_datetime      3 non-null      object
 2   amount              3 non-null      float64
 3   location            3 non-null      object
 4   fraud               3 non-null      bool
dtypes: bool(1), float64(1), object(3)
memory usage: 227.0+ bytes

In [35]:
df['trans_datetime']= pd.to_datetime(df['trans_datetime'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   credit_card_number  3 non-null      object
 1   trans_datetime      3 non-null      datetime64[ns]
 2   amount              3 non-null      float64
 3   location            3 non-null      object
 4   fraud               3 non-null      bool
dtypes: bool(1), datetime64[ns](1), float64(1), object(2)
memory usage: 227.0+ bytes

In [21]:
import numpy as np
import timeit 

df2 = pd.DataFrame({
    'a':np.random.randint(1,100, size=10000),
    'b':np.random.randint(100,1000, size=10000),
    'c':np.random.random(10000)
})
df2.shape
(100000, 3)

(100000, 3)

### Vectorized operations are faster than "apply" with UDFs

We will see that apply is approximately 50 times slower than the equivalent vectorized operation on 100k rows.

In [22]:
%%timeit
df2['a'].apply(lambda x: x**2)

3.42 ms ± 26.3 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

This vectorized operation is much faster

In [23]:
%%timeit
df2['a'] ** 2

59 µs ± 3.28 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)